.list{
    width: 100%;
    height: auto;
    float: left;
}

.sp a{
    text-decoration: none;
    
}
.xoa{
    color: red;
    font-size: 14px;
    border: 1px solid blueviolet;
    position:absolute;
    background-color: #FFF;
    z-index:1;
    padding: 2px;
}
.xoa:hover{
    color: yellowgreen;
}